[submodule "thirdparty/SDL"]
	path = thirdparty/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "thirdparty/sourcepp"]
	path = thirdparty/sourcepp
	url = git@github.com:craftablescience/sourcepp.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = git@github.com:ocornut/imgui.git
